// Social

// Links to social networks

.social-media__links {
  margin-bottom: .5rem;
  text-align: right;

  a {
    padding-left: 1rem;

    .fab {
      color: $black;
    }
  }
}

// Social share module

.social-share__links {
  .post-type-page & {
    margin-left: 0 !important;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    list-style: none;
    padding-right: 1rem;
  }
}

.social-share__link {
  &:hover,
  &:active {
    opacity: .75;
  }

  &.inactive {
    opacity: .25;
  }
}
