<section class="module content-list {{ (pagination is defined and pagination is not empty) ? 'paginated' }}">

  {% if title is defined and title is not empty %}
  <div class="content-list__top">
    <h2 class="content-list__title">{{ title }}</h2>
  </div>
  {% endif %}

  {% if items is defined and items is not empty %}

  {% block content_list_item %}
  {% include 'partial/content-list-item.twig' %}

  {% include 'partial/pagination.twig' %}
  {# {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %} #}

  {% endblock %}

  {% endif %}
</section>
