<section class="module text-block">

  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        {{ content|shortcodes }}
      </div>
    </div>
  </div><!-- /.container -->

</section>
