// Variables

//* Base


//* Colors

// Descriptive colors
$white:                     #fff;
$black:                     #000;

// Client colors
$hypr-black:                #1c1a1a;
$hypr-midgrey:              #514c48;
$hypr-pink:                 #f01b70;
$hypr-blue:                 #2ea3f2;

// Main color palette
$color-primary:             $hypr-black;
$color-secondary:           $hypr-midgrey;

// Common colors
$color-background:          $white;
$color-text:                $hypr-black;
$color-text-strong:         $hypr-black;
$color-text-heading:        $hypr-black;
$color-text-invert:         $white;

// Links
$color-link:                $hypr-black;
$color-link-hover:          $color-link;
$color-link-visited:        $color-link;

//* Animation


//* Layout

// Breakpoints


// Spacing


// Z index


//* Libs

// Bulma

// Disable the widescreen breakpoint
// $widescreen-enabled: false;

// Disable the fullhd breakpoint
// $fullhd-enabled: false;

// Navbar


// Search
