// Footer

#footer {
  background-color: $white;
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  width: 100%;

  .container {
    justify-content: space-between;

    @include until($desktop) {
      flex-direction: column;
    }

    & > * {
      align-items: center;
      display: flex;
      min-height: $navbar-height;

      &:nth-child(2) {
        flex-grow: 1;
      }

      &:last-child() {
        white-space: nowrap;

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  span,
  p {
    color: $black;
  }

  a {
    color: $black;

    &:visited {
      color: $black;
    }

    @include hover {
      color: $black;
    }
  }
}
